<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <a href="/">Home</a>
    <a href="servo90">Servo90</a>
    <a href="servo180">Servo180</a>